<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <app-hamburger-button></app-hamburger-button>
      <a routerLink="/" class="navbar-brand">Openet</a>
    </div>
    <div class="navbar-collapse" appMenuCollapse>
      <ul class="nav navbar-nav">
        <li class="dropdown" appMenuDropDown>
          <a href="#" class="dropdown-toggle"
            >Maintenance <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" (click)="onNavigateToProfessors()">Professors</a>
            </li>
            <li>
              <a href="#" (click)="onNavigateToStudents()">Students</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
