<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <app-hamburger-button></app-hamburger-button>
      <a routerLink="/" class="navbar-brand">Openet</a>
    </div>
    <div class="navbar-collapse" appMenuCollapse>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/">Home</a>
        </li>
        <li class="dropdown" appMenuDropDown>
          <a class="dropdown-toggle">Maintenance <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active">
              <a routerLink="/professors">Professors</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/students">Students</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
