<h3>{{ heading }}</h3>
<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <app-form-item [formGroup]="personForm" label="First Name" inputName="firstName" (onChangesMade)="onChangeMade()">
      <p class="help-block" *ngIf="
          !getFormControl('firstName').valid &&
          getFormControl('firstName').touched
        ">
        Please enter a first name
      </p>
    </app-form-item>
  </div>
  <div class="row">
    <app-form-item [formGroup]="personForm" label="Last Name" inputName="lastName" (onChangesMade)="onChangeMade()">
      <p class="help-block" *ngIf="
          !getFormControl('lastName').valid &&
          getFormControl('lastName').touched
        ">
        Please enter a last name
      </p>
    </app-form-item>
  </div>
  <div class="row">
    <app-form-item [formGroup]="personForm" label="Card Number" inputName="studentCardNumber"
      (onChangesMade)="onChangeMade()">
      <div>
        <p class="help-block" *ngIf="
                getFormControl('studentCardNumber').value.length > 0 &&
                getFormControl('studentCardNumber').pending &&
                getFormControl('studentCardNumber').touched
              ">
          Checking card
        </p>
        <p class="help-block" *ngIf="
                getFormControl('studentCardNumber').errors &&
                getFormControl('studentCardNumber').errors['cardInUse']
              ">
          This card is already in use
        </p>
      </div>
    </app-form-item>
  </div>
  <div class="row" [class]="readonly ? 'invisible' : ''">
    <div class="col-xs-12 btn-toolbar">
      <button class="btn btn-success" type="submit" [disabled]="!personForm.valid">
        Save
      </button>
      <button class="btn btn-warning" type="button" (click)="onCancelClick()">
        Cancel
      </button>
    </div>
  </div>
</form>
