<h3>{{ heading }}</h3>
<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <app-form-item [formGroup]="personForm" label="First Name" inputName="firstName" (onChangesMade)="onChangeMade()">
      <p class="help-block" *ngIf="isFirstNameValid()">
        Please enter a first name
      </p>
    </app-form-item>
  </div>
  <div class="row">
    <app-form-item [formGroup]="personForm" label="Last Name" inputName="lastName" (onChangesMade)="onChangeMade()">
      <p class="help-block" *ngIf="isLastNameValid()">
        Please enter a last name
      </p>
    </app-form-item>
  </div>
  <div class="row">
    <app-form-item [formGroup]="personForm" label="Card Number" inputName="studentCardNumber"
      (onChangesMade)="onChangeMade()">
      <div>
        <p class="help-block" *ngIf="isStudentCardNumberBeingChecked()">
          Checking card
        </p>
        <p class="help-block" *ngIf="isStudentCardNumberInUse()">
          This card is already in use
        </p>
        <p class="help-block" *ngIf="isStudentCardNumberEmpty()">
          Please enter a card number
        </p>
      </div>
    </app-form-item>
  </div>
  <div class="row" [class]="readonly ? 'invisible' : ''">
    <div class="col-xs-12 btn-toolbar">
      <button class="btn btn-success" type="submit" [disabled]="!personForm.valid">
        Save
      </button>
      <button class="btn btn-warning" type="button" (click)="onCancelClick()">
        Cancel
      </button>
    </div>
  </div>
</form>
