<app-modal *ngIf="deleting" [title]="'Delete Professor'" [btnConfirmTitle]="'Okay'" (onSubmitted)="onDeleteConfirmed()"
  (onCancelled)="onDeleteCancelled()">
  <p>Are you sure you want to delete {{ selectedProfessor.firstName }} {{ selectedProfessor.lastName }}?</p>
</app-modal>

<div *ngIf="!updating">
  <app-add-button (onClicked)="onAddNewClick()">Add New Professor</app-add-button>

  <hr />

  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let professor of professors">
        <td>{{ professor.firstName }}</td>
        <td>{{ professor.lastName }}</td>
        <td>
          <button class="btn btn-success" style="margin-right: 5px;" (click)="onUpdateClick(professor)">
            Update
          </button>
          <button class="btn btn-danger" (click)="onDeleteClick(professor)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-professor-detail *ngIf="updating" [professor]="selectedProfessor" (onCancelClicked)="onCancelClick()">
</app-professor-detail>
