<app-modal *ngIf="deleting" [title]="deleteModalTitle" [btnConfirmTitle]="'Okay'" (onSubmitted)="onDeleteConfirmed()"
  (onCancelled)="onDeleteCancelled()">
  <p>Are you sure you want to delete {{ selectedPerson.firstName }} {{ selectedPerson.lastName }}?</p>
</app-modal>

<div *ngIf="!updating">
  <h1>{{ mainTitle }}</h1>

  <app-add-button (onClicked)="onAddNewClick()">{{ btnAddNewCaption }}</app-add-button>

  <hr />

  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <td>{{ person.firstName }}</td>
        <td>{{ person.lastName }}</td>
        <td>
          <button class="btn btn-success" style="margin-right: 5px;" (click)="onUpdateClick(person)">
            Update
          </button>
          <button class="btn btn-danger" (click)="onDeleteClick(person)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-professor-detail *ngIf="showProfessorDetail()" [person]="selectedPerson" (onCancelClicked)="onCancelClick()">
</app-professor-detail>
<app-student-detail *ngIf="showStudentDetail()" [person]="selectedPerson" (onCancelClicked)="onCancelClick()">
</app-student-detail>
