/* You can add global styles to this file, and also import other style files */
:root {
  --border: 1px solid #999;
  --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  --background-colour-light: #f5f5f5;
}
